@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

.App{
  position: relative;
  min-height: 100vh;
}

.content{
  padding-bottom: 150px;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png"),linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  padding: 0 16px;
  color: #555555;
}
.link{
  color: #555555;
  text-decoration: none; 
  decoration: none; 
}
.link:hover{
  color: #555555;
  text-decoration: none; 
  decoration: none; 
}